<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex">
            <button class="toggle-btn" type="button">
                <i class="las la-bars"></i>
            </button>
            <div class="sidebar-logo">
                <a routerLink="/EmpresaAdmin/home">Sistema Comercial</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            @for (item of combinedMenuItems; track $index) {
            <li class="sidebar-item" style="cursor: pointer;">
                <a class="sidebar-link d-flex align-items-center" [routerLink]="item.path"
                    routerLinkActive="active">
                    <i class="{{item.icon}}"></i>
                    <span>{{item.title}}</span>
                </a>
            </li>
            }
        </ul>
        <div class="sidebar-footer">
            <a class="sidebar-link" (click)="cerrarSesion()">
                <i class="las la-sign-out-alt"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </aside>
    <div class="main p-3">
        <router-outlet />
    </div>
</div>